.Content {
  margin: 5% 20%;
}

.FiltersContainer {
  display: flex;
  margin-bottom: 1em;
  transform: translate(-8em, -2em);
}

.Filter {
  font-size: 1.2em;
  margin: 0em 0.8em;
  padding: 0.2em 0.4em;
  border: 2px solid var(--mainPink);
  cursor: not-allowed;
  border-radius: 15px;
}
