.SearchingContiner {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  /* background-color: rgba(99, 150, 192, 0.1); */
  /* background-color: rgba(255, 226, 188, 0.6); */
  background-color: rgb(240, 240, 240);
  padding-bottom: 3em;
}

.Searching {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 6em;
  padding: 0em 2em;
}

.SearchingContiner h1 {
  /* color: var(--mainBlue); */
  color: var(--mainPink);
  font-size: 2.8em;
  margin: 0;
  padding: 1em 3.5em;
}

.Searching div {
  width: 20vw;
  padding: 0.5em 1em;
  /* font-size: 1.2em; */
  margin: 1em;
  background-color: white;
  font-weight: bold;
  /* border: 2px solid var(--lightBlue); */
  font-style: italic;
  height: 1.5em;
  /* background: linear-gradient(45deg, #ccc, var(--lightBlue), #fff);
  background-size: 400% 400%;
  animation: gradient 3s ease infinite; */
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.ButtonContainer button {
  /* background-color: var(--lightBlue); */
  background-color: white;
  color: white;
  border: none;
  cursor: pointer;
  padding: 0.4em 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.5em;
  margin-top: 2em;
  align-self: center;
}

.ButtonContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:focus {
  outline: none;
}

.Disabled {
  /* background-color: #ccc; */
  background-color: white;
  cursor: not-allowed;
  margin-right: 0.5em;
  color: white;
  border: none;
  padding: 0.4em 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  font-size: 1.5em;
  margin-top: 2em;
  align-self: center;
  margin-right: 0.5em;
}
